body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 96%;
  }
}

ul {
  list-style-type: none;
}

.button {
  background-color: #ffd200;
  border-radius: 10px;
  border: none;
  padding: 18px 29px;
  font-size: 13px;
  font-weight: 700;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__info {
  display: flex;
  align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: flex;
  flex-direction: column;
}

.navbar__adress {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #333333;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
  margin-top: 6px;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 567px) {
  .navbar-block {
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar__button {
    font-size: 10px;
    padding: 14px 25px;
    border-radius: 5px;
  }
}

.hero {
  padding: 50px 0;
}

.hero-block {
  display: flex;
}

.hero-text {
  flex-basis: 50%;
  padding-right: 140px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  line-height: 65px;
  font-weight: 700;
  margin-bottom: 69px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__subtitle {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}
